name: Spellcheck

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install cspell
        run: npm install -g cspell

      - name: Run cspell
        run: cspell "**/*" --no-progress
